@use '@/colors.module.scss' as colors;
@use '@/typography.module.scss' as typography;

.container {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.content {
  display: flex;
  gap: 12px;
  flex-direction: column;

  padding: 16px 0 16px 16px;
}

.title {
  padding-left: 8px;

  font-size: 24px;
  font-weight: bold;
  color: colors.$gray;
}

.dot {
  min-width: 24px;
  min-height: 24px;

  background-color: colors.$gray;
  border-radius: 16px;
}

.line {
  display: flex;

  width: 3px;
  height: 100%;

  margin-top: 8px;
  margin-bottom: 8px;
  background-color: colors.$gray;
}

.sectionDecorator {
  display: flex;
  flex-flow: column;
  align-items: center;

  margin-top: 4px;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}
