@use '@/typography.module.scss' as typography;
@use '@/colors.module.scss' as colors;

.content{ 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 11px;

    .logo {
        width: 41px;
        height: 41px;
    }

    .text {
        @include typography.logo;
        color: colors.$black;
    }

    &.invertColor {
        .text {
            color: colors.$surface;
        }
    }
}