@import '@/responsiveness.module.scss';
@import '@/colors.module.scss';

.container {
  display: inline-flex;
  flex-direction: column;
  gap: 32px;

  height: fit-content;
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 240px;
  right: 0;

  z-index: 2;

  color: $white;

  .textContainer {
    max-width: 550px;
    display: inline-flex;
    flex-direction: column;
  }
}

.imageContainer {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 15%;
  margin-right: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@include tablet {
  .container {
    display: flex;
    margin: 0;
    right: 0;
    left: 0;
    top: 25%;
    bottom: 25%;
    text-align: center;
    align-items: center;
  }
  .imageContainer {
    display: none;
  }
}

@include mobile {
  .container {
    margin: 0;
    left: 16px;
    right: 16px;
    top: 25%;
    bottom: 25%;
    text-align: center;
    align-items: center;
  }
  .imageContainer {
    display: none;
  }
}
