.main{
    margin: auto;
    width: 80%;

    @media (max-width: 900px) {
        width: 100%;
    }
    
}

.title{
    padding: 10px 0;
}

.section{
    margin-top: 30px;
}

.sectionTitle{
    display: block;
    padding-bottom: 10px; 
}

.example{
    height: 125px;
    border-radius: 8px;
    background-color: #4340BE;
}