@use '@/colors.module.scss' as colors;

.container {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .chart {
    height: 240px;
    width: 240px;
  }

  .textContainer {
    margin-top: -125px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .description {
      max-width: 240px;
      color: gray;
    }
  }
}
