@use '@/colors.module.scss' as colors;

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  padding: 9px 13px;

  min-height: 112px;
  min-width: 200px;

  width: fit-content;

  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-top: 12px;
  background-color: colors.$white;

  .title {
    color: colors.$black;
  }
}
