$primary: #4340BE;
$background: #F3F3F3;
$surface: #FFFFFF;
$live: #F75254;
$liveHover: #de494b;
$liveActive: #c54143;
$stroke: #DBDBDB;
$black: #000000;
$gray: #717171;
$lightGray: #9f9f9f;
$lightGrayHover: #c9c9c9;
$white: #FFFFFF;
$primaryHover: #3C3AAB;
$primaryActive: #363398;
$lightHover: #E3E2F5;
$lightActive: #C5C4EB;

:export {
  primary: $primary;
  background: $background;
  surface: $surface;
  live: $live;
  liveHover: $liveHover;
  liveActive: $liveActive;
  stroke: $stroke;
  black: $black;
  gray: $gray;
  white: $white;
  primaryHover: $primaryHover;
  primaryActive: $primaryActive;
  lightHover: $lightHover;
  lightActive: $lightActive;
}