$primary: #4340be;
$background: #f3f3f3;
$surface: #ffffff;
$live: #f75254;
$stroke: #dbdbdb;
$black: #000000;
$gray: #717171;
$white: #ffffff;

:export {
  primary: $primary;
  background: $background;
  surface: $surface;
  live: $live;
  stroke: $stroke;
  black: $black;
  gray: $gray;
  white: $white;
}
