@use "@/colors.module.scss" as colors;

* {
  scrollbar-width: thin;
  scrollbar-color: colors.$background;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: colors.$lightGray;

  &:hover {
    background-color: colors.$gray;
  }
  &:active {
    background-color: colors.$lightGrayHover;
  }
}
