@mixin bodyS {
    font-family: var(--font-lato);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin bodyM {
    font-family: var(--font-lato);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin bodyL {
    font-family: var(--font-lato);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin headS {
    font-family: var(--font-inter);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin headM {
    font-family: var(--font-inter);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@mixin headL {
    font-family: var(--font-inter);
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin logo {
    font-family: var(--font-oswald);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@mixin logoM {
    font-family: var(--font-oswald);
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

