.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.events {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}
