@use '@/colors.module.scss' as colors;


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  gap: 12px;

  .main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

    padding: 16px;
    gap: 16px;
    border-radius: 16px;
    background-color: colors.$white;

    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;

      span {
        align-self: stretch;
      }
    }

    .speakers {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      flex-wrap: wrap;
    }
  }
}