@import '@/colors.module.scss';

.actions {
  display: flex;
  height: 28px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  color: $primary;

  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    align-self: stretch;

    border-radius: 8px;
    background-color: $white;
  }

  .live {
    color: $white;
    background-color: $live;
  }

  .rate {
    color: $white;
    background-color: $black;
    justify-content: space-between;
  }

  .stretched {
    flex: 1 0 0;
    align-self: stretch;
  }
}

