@import "@/colors.module";

.step {
  display: flex;
  padding: 8px 16px;
  gap: 10px;

  align-items: center;

  cursor: pointer;
  background-color: $surface;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: $background;
  }

  &:active {
    background-color: $stroke;
    color: $primary;
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      background-color: $surface;
    }
  }

  .circle {
    border-radius: 12px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    min-height: 24px;
    background-color: $gray;

    &.selected {
      background-color: $primary;
    }
  }
}

.text {
  color: $gray;

  &.textActive {
    color: $primary;
  }
}

.stepsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}