@use '@/colors.module.scss' as colors;
@use '@/typography.module.scss' as typography;

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    position: absolute;
    top: 120%;
    right: 0;

    background-color: colors.$primary;

    border-radius: 16px 0 16px 16px;
    padding: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.text {
    color: colors.$white;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    gap: 8px;
}

.button {
    background-color: pink;
    border-radius: 8px;
    //background-color: colors.$white;
    color: colors.$black;
    width: 100%;
}