@import '@/colors.module';
@import '@/responsiveness.module';

.navbar {
  display: flex;
  padding: 12px 96px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: $surface;
  text-decoration: none;
  color: $black;

  &.invertColor {
    background-color: transparent;
    color: $surface;
    .burger {
      filter: invert(100%);
    }
  }
}

@include mobile {
  .navbar {
    padding: 8px 16px;
  }
}