@use '@/colors.module.scss' as colors;

.tag {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  color: colors.$white;

  border-radius: 30px;
  border: 0.5px solid colors.$white;
}