@use '@/colors.module.scss' as colors;
@use '@/responsiveness.module.scss' as responsiveness;

.actions {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  color: colors.$primary;

  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 10px;
    align-self: stretch;

    border-radius: 8px;
    background-color: colors.$white;
  }

  .live {
    color: colors.$white;
    background-color: colors.$live;

    &:hover {
      background-color: colors.$liveHover;
    }
  }

  .rate {
    color: colors.$white;
    background-color: colors.$black;
    justify-content: space-between;
  }

  .stretched {
    flex: 1 0 0;
    align-self: stretch;
  }
}