@import '@/typography.module';
@import '@/colors.module';
@import '@/responsiveness.module';

.planetPinkGreen {
  position: absolute;
  top: 10%;
  right: 20%;
}

.planetOrange {
  position: absolute;
  top: 60%;
  right: 8%;
}

.planetViolet {
  position: absolute;
  top: 70%;
  left: 10%;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  text-align: left;
  justify-content: center;
  align-items: center;

  .planetBlue {
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0 0 32px 0 rgba(0, 148, 255, 0.25),
    2px -2px 8px 0px rgba(255, 255, 255, 0.15);
  }

  .logoTextContainer {
    text-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
    color: $white;

    display: flex;
    flex-direction: column;

    .logoText {
      @include logo;
      margin-top: -25px;
      color: $white;
      font-size: 128px;
    }
  }
}

.contentOnMoon {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: -160%;

  .moon {
    height: auto;
    width: 100%;
    user-select: none;
  }

  .items {
    margin-top: -4%;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 128px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 167px;
    align-self: stretch;
    flex-wrap: wrap;
    background-color: $background;

    .textContainer {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 12px;

      .text {
        overflow-wrap: break-word;
        max-width: 500px;
      }
    }
  }
  .wave {
    margin-top: -35px;
    height: fit-content;
    width: 100%;
    user-select: none;
  }
}

.galaxyTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 12px;
  color: $white;
  .text {
    overflow-wrap: break-word;
    max-width: 500px;
  }
}


.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  align-self: stretch;
  background-color: $black;
  color: $white;

  @include mobile {
      flex-direction: column;
  }

  @include tablet {
      flex-direction: column;
  }
}

.textWithImage{
  display: flex;
  gap: 4px;
}
.link {
  text-decoration: underline;
  color: $white;
}