@import '@/colors.module';

.container {
    max-width: 240px;
    max-height: 240px;
    background-color: #F75254;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
}
.description {
    max-width: 200px;
    color: gray;
}