@import '@/colors.module';

.tagContainer {
  display: flex;
  padding: 4px;
  align-items: center;
  gap: 4px;

  border-radius: 8px;
  border: 1px solid $primary;
  background-color: $surface;

  .text {
    cursor: default;
  }

  .close {
    cursor: pointer;
  }
}