@use '@/colors.module.scss' as colors;
@use '@/typography.module.scss' as typography;

.root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba($color: #000000, $alpha: .5);

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
        align-items: flex-end;
    }
}

.rateLecture {
    display: flex;
    flex-direction: column;

    background: colors.$white;
    border-radius: 16px;
    padding: 24px;
    gap: 24px;

    @media (max-width: 600px) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.buttonsWrapper {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 3fr; 
    gap: 24px; 
}
